In [1]:
#this is first program 
'''
this is
calculating sum
'''

"""
python is
easy lang
"""

__author__='Rohit kumar'
a=10
b=10
print("sum of a and b is", a+b)

sum of a and b is 20

In [10]:
#Find the area of circle where radius is 5cm

from math import pi #using the less ram, not wasting the memory
r=5
area=math.pi*r**2
print("area of circle is=",round(area))

area of circle is= 79

In [11]:
import math
dir(math) #showing the functions of current library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [17]:
name=input("your name")
age=int(input("your age"))

if age<18:
    print("hello", name, "your are not adult")
elif age>18 and age<45:
    print("hello", name, "your are adult")
else:
    print("hello", name, "your are old one")

your namerohit
your age33
hello rohit your are adult

In [18]:
list1=list()

In [19]:
list1=[1,2,3,'rohit',5,6,7]

In [21]:
len(list1)

7

In [22]:
'rohit' in list1

True

In [23]:
'ram' not in list1

True

In [24]:
'africa' in list1

False

In [26]:
list1[0]

1

In [27]:
list1[-1]

7

In [29]:
list1[0]='Africa'

In [30]:
list1[0]

'Africa'

In [31]:
list1

['Africa', 2, 3, 'rohit', 5, 6, 7]

In [32]:
tup=(1,2,3,'india','china')

In [33]:
tup[0]

1

In [34]:
tip[0]='africa'

NameError: name 'tip' is not defined

In [35]:
tup=(5,9,0,7)

In [36]:
tup

(5, 9, 0, 7)

In [37]:
name='Amit kumar'

In [38]:
name[0]

'A'

In [39]:
name[0]='k'

TypeError: 'str' object does not support item assignment

In [40]:
tup=tuple(list1)

In [41]:
tup

('Africa', 2, 3, 'rohit', 5, 6, 7)

In [42]:
list1=list(tup)

In [44]:
list1

['Africa', 2, 3, 'rohit', 5, 6, 7]

In [45]:
list1[1:5:2]

[2, 'rohit']

In [46]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
list(range(2,9))

[2, 3, 4, 5, 6, 7, 8]

In [48]:
list(range(2,9,1))

[2, 3, 4, 5, 6, 7, 8]

In [49]:
list(range(2,9,3))

[2, 5, 8]

In [50]:
list(range(2,9,2))

[2, 4, 6, 8]

In [53]:
cp=int(input("enter the cost price"))
sp=int(input("enter the selling price"))

p=sp-cp
l=cp-sp


if sp>cp:
    print("its a profit of",p)
elif sp==cp:
    print("no profit no loss")
else:
    print("its a loss of",l)

enter the cost price700
enter the selling price700
no profit no loss

In [54]:
list1

['Africa', 2, 3, 'rohit', 5, 6, 7]

In [55]:
list1.append(100)

In [56]:
list1

['Africa', 2, 3, 'rohit', 5, 6, 7, 100]

In [57]:
list1.extend([10,20,30])

In [58]:
list1

['Africa', 2, 3, 'rohit', 5, 6, 7, 100, 10, 20, 30]

In [59]:
list1.insert(6,'ram')

In [60]:
list1

['Africa', 2, 3, 'rohit', 5, 6, 'ram', 7, 100, 10, 20, 30]

In [61]:
list2=[12,45,8,90,54,23]

In [62]:
list2

[12, 45, 8, 90, 54, 23]

In [63]:
list3=list1+list2

In [64]:
list3

['Africa',
 2,
 3,
 'rohit',
 5,
 6,
 'ram',
 7,
 100,
 10,
 20,
 30,
 12,
 45,
 8,
 90,
 54,
 23]

In [65]:
tup

('Africa', 2, 3, 'rohit', 5, 6, 7)

In [66]:
list2

[12, 45, 8, 90, 54, 23]

In [67]:
list4=list2+tup

TypeError: can only concatenate list (not "tuple") to list

In [68]:
list4=list2+list(tup)

In [69]:
list4

[12, 45, 8, 90, 54, 23, 'Africa', 2, 3, 'rohit', 5, 6, 7]

In [71]:
a=int(input("enter the amount"))
if a<1000:
    print("disc of 10 per")
elif a>1000 and a<2000:
    pass
else:
    print("disc of 30 per")

enter the amount1200

In [76]:
import random
random.shuffle(list4)

In [77]:
list4

[45, 2, 'rohit', 90, 12, 6, 54, 23, 3, 8, 'Africa', 5, 7]

In [78]:
names = ['Amir', 'Bear', 'Charlton', 'Daman']
print(names[-1][-1])

n

In [79]:
help(list.index)

Help on method_descriptor:

index(...)
    L.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.