In [1]:
list1=[10,20,'rohit','africa',5,6,7]

In [2]:
list1.pop()

7

In [3]:
del list1[2]

In [4]:
list1

[10, 20, 'africa', 5, 6]

In [5]:
list1.remove('africa')

In [6]:
list1

[10, 20, 5, 6]

In [7]:
list1.pop(0)

10

In [8]:
del list1  #deletes whole list

In [9]:
list1

NameError: name 'list1' is not defined

In [9]:
list1=[10,20,'rohit','africa','rohit',5,6,7]

In [10]:
list1.remove('rohit')

In [11]:
list1

[10, 20, 'africa', 'rohit', 5, 6, 7]

In [13]:
list1.append(7)

In [14]:
list1

[10, 20, 'africa', 5, 6, 7, 7]

In [15]:
list1.remove(7)

In [16]:
list1

[10, 20, 'africa', 5, 6, 7]

In [17]:
list1.insert(2,'africa')

In [18]:
list1

[10, 20, 'africa', 'africa', 5, 6, 7]

In [19]:
list1.remove('africa')

In [20]:
list1

[10, 20, 'africa', 5, 6, 7]

In [22]:
import sys
c=1
while(c<=10):
    print(c)
    if c==5:
        sys.exit() #terminates the whole program while break will terminate the loop
    c+=1
print("bye")

1
2
3
4
5

SystemExit:

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2889: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [8]:
#user takes a number and you have to print its table
n= int(input("enter a number"))
i=1
while(i<=10):
    print(n,'*',i,'=',n*i)
    i+=1

enter a number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [12]:
name='Amit'
for i in name:
    print(i)

A
m
i
t

In [16]:
list1=['Amit','rohit','india','pak']
for i in list1:
    print(i)

Amit
rohit
india
pak

In [27]:
#create a list by asking no friom user infintly till the user entrs -999
#once list is created ask any no from user ,if the number exixst print succ otherwise print failure
#create another list even and odd which contain even and odd ele of thye list

list1=[]
num=0
while(num!=-999):
    num=int(input("enter number"))
    if num!=-999:
        list1.append(num)

enter number34
enter number5
enter number67
enter number89
enter number0
enter number12
enter number36
enter number7
enter number9
enter number8
enter number-999

In [28]:
list1

[34, 5, 67, 89, 0, 12, 36, 7, 9, 8]

In [31]:
x=int(input("enter no for search"))
if x in list1:
    print("success")
else:
    print("failure")

enter no for search77
failure

In [37]:
even=[]
odd=[]
for i in list1:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print('even=',even)
print('odd=',odd)

even= [34, 0, 12, 36, 8]
odd= [5, 67, 89, 7, 9]

In [38]:
#Dict

In [39]:
d={'name':'rohit','age':25,'gender':'male'}

In [40]:
d

{'age': 25, 'gender': 'male', 'name': 'rohit'}

In [41]:
type(d)

dict

In [42]:
d.keys()

dict_keys(['name', 'age', 'gender'])

In [43]:
d.values()

dict_values(['rohit', 25, 'male'])

In [44]:
d['age']

25

In [45]:
d['Location']='India'

In [46]:
d

{'Location': 'India', 'age': 25, 'gender': 'male', 'name': 'rohit'}

In [48]:
d.pop('age')

25

In [49]:
d

{'Location': 'India', 'gender': 'male', 'name': 'rohit'}

In [63]:
d={'empids':[101,102,103,104],'Name':['Amit',"rana",'Ali','abhi']}

In [64]:
d

{'Name': ['Amit', 'rana', 'Ali', 'abhi'], 'empids': [101, 102, 103, 104]}

In [65]:
d['empids']

[101, 102, 103, 104]

In [66]:
d['Name']

['Amit', 'rana', 'Ali', 'abhi']

d.items()

In [67]:
d.items()

dict_items([('empids', [101, 102, 103, 104]), ('Name', ['Amit', 'rana', 'Ali', 'abhi'])])

In [68]:
for k,v in d.items() :
    print("key is",k, "and the value is",v)

key is empids and the value is [101, 102, 103, 104]
key is Name and the value is ['Amit', 'rana', 'Ali', 'abhi']

In [72]:
len(d)

2

In [73]:
#functions

In [76]:
def fun(a,b,c):
    print(a,b,c)
    #print(b)
    #print(c)
fun(1,2,3)

1 2 3

In [77]:
#wap to take input from user cp and sp and  pass it to fun call calulate, calculate shuld return amoutn of profit ,amount of loss, no loss no profit


def cal(sp,cp):
    if sp>cp:
        return sp-cp,1
    elif cp>sp:
        return cp-sp,-1
    else:
        return 0,0
    profit=sp-cp
    loss=cp-sp
    return profit,loss

s=int(input("enter sp"))
c=int(input("enter cp"))
ans=cal(s,c)

if ans[1]:
    print("profit")
elif c>s:
    print("loss")
else:
    print("not profit no loss")

enter sp40
enter cp50
(-10, 10)
loss

In [2]:
#wap create a fun call make() which shopuld ask you how many emp records you wants, take empids,empnames as inputs and create a dict
#return this dict to main prog, and send it to another fun called search in which you search empid after asking from user
#if it is found return succ to main otherwies return failure

def make():
    d={}
    num=int(input("enter no of records"))
    while(num>0):
        empid=int(input("enter empid:"))
        empname=input("enter empname:")
        d[empid]=empname
        num-=1
    return d

def search(d):
    x=int(input('enter empid to search'))
    if x in d.keys():
        return "succ"
    else:
        return "fail"
 
d=make()
ans=search(d)
print(ans)

enter no of records3
enter empid:56
enter empname:tom
enter empid:34
enter empname:sally
enter empid:78
enter empname:henry
enter empid to searxch34
succ

In [ ]:
# lambda function ...

In [3]:
sum_all=lambda a,b:a+b

In [4]:
sum_all(10,20)

30

In [27]:
import math
area=lambda r:math.pi*r**2

In [28]:
area(5)

78.53981633974483

In [ ]:
#map function

In [14]:
lis=[1,2,3,4]   #normal way
lis2=[]
for x in lis:
    lis2.append(x*2)
print(lis2)

[2, 4, 6, 8]

In [15]:
lis3=list(map(lambda x:x*2, lis))
print(lis2)

[2, 4, 6, 8]

In [16]:
#filter fun

In [18]:
lis=[1,2,3,4,5,6,7,8,9]  #normal way
lis2=[]
for x in lis:
    if x%2==0:
        lis2.append(x)
print(lis2)

[2, 4, 6, 8]

In [19]:
lis3=list(filter(lambda x:x%2==0, lis))
print(lis2)

[2, 4, 6, 8]

In [20]:
# reduce func

In [21]:
lis=[1,2,3,4,5,6,7,8,9]  #normal way
sum1=0
for x in lis:
    sum1+=x
print(sum1)

45

In [26]:
from functools import reduce

sum1=reduce(lambda x,y : x+y, lis)
print(sum1)

45

In [30]:
#we have a list1 and sum the values at odd positions in single line
list1=[2,5,9,7,2,3,6]

In [35]:
from functools import reduce  
ans = reduce(lambda x,y:x+y, list1[1::2])
print(ans)

15

In [36]:
#wap to find no of vowels in name in any case ,count and return in main
def fun(name):
    count=0
    for x in name:
        if x.upper() in ['A','E','I','O','U']:
            count+=1
    return count

name =input("enter a name: ")
count=fun(name)
print(count)

enter a name: rahul
2